body {
	background-color: #e8ebf2;
}

a:link, a:visited {
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: none;
	color: black;
}

#title{
	margin: 10px auto 0 auto;
	width: 600px;
	padding: 0px;
	text-align: center;
}